html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Mizoimport;
    font-weight: 100;
    overflow-y: hidden;
    height: 100%;

}

.container {
    width: 100%;
}

@font-face {
    font-family: Mizoimport;
    src: url(../content/Mizo\ Bookman\ Old.ttf);
    font-style: normal;
    font-weight: 100;
}

.overlay {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(196, 195, 195, 0.80);
}

.fp-elements {
    padding: clamp(20px, 5vw, 30px);
    margin-left:clamp(25px, 8vw, 400px);
    margin-right:clamp(25px, 8vw, 400px);
    margin-top:clamp(25px, 8vw, 300px);
}

.title-wrapper {
    vertical-align: top;
    position:relative;
    width: 49%;
    display: inline-block;
}

.explainer-wrapper {
    position:relative;
    width: 49%;
    display: inline-block;
}

.main-title {
    font-size: clamp(30px, 5vw, 200px);
    font-weight: 800;
    color: #000000;
    font-family: Mizoimport;
}

.overlay .explainer-wrapper .text{
    margin-left:clamp(25px, 8vw, 400px);
    margin-right:clamp(25px, 8vw, 400px);
    margin-top:clamp(10px, 8vw, 50px);
}


.overlay .images-row .column{
    text-align: center;
}

.overlay .images-row .column img {
    width: 25%;
    height: auto;
}
.overlay p {
    font-size: clamp(13px, 1.5vw, 24px);
    font-weight: 700;

}

.explore-button {
    position: absolute;
    text-align: center;
    margin-left:clamp(25px, 8vw, 400px);
    margin-right:clamp(25px, 8vw, 400px);
    margin-top:clamp(10px, 8vw, 50px);
}

.explore-button {
    display: block;
    padding: 24px 48px;
    font-family: Mizoimport;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 6px;
    color: rgb(0, 0, 0);
    border: 4px solid rgb(0, 0, 0);
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    background:  rgb(231, 231, 231);
    z-index: 1;
    transition: 0.8s ease-out;
}

.enter_button:hover{
    color: #101010;
}

.enter_button:before {
    content: "";
    position: absolute;
    background: rgb(255, 255, 255);
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: top 0.8s ease-out;
}

.enter_button:hover:before {
    top:0;
}

.legend {
    z-index: 2;
    position: absolute;
    width: 25%;
    height: 100%;
    opacity: 0%;
    padding: 40px 40px;
    visibility: visible;
    background: rgb(245, 245, 245);
}

.legend .content-wrapper {
    margin: 5px 5px;
    padding: 5px 20px;
}

.legend .title_legend {
    font-size: clamp(30px, 5vw, 40px);
    color:rgb(31, 31, 31);
    position: relative;
    display: inline;
    vertical-align: top;

}

.legend .text {
    font-family: Mizoimport;
    color:rgb(31, 31, 31);
}

.legend .pumpjack_colors {
    display: block;
    text-align: center;
}

.legend .income_legend {
    display: block;
    text-align: center;
}

.legend .pump_id {
    display: flex;
    justify-content: space-between;
}

.legend .pumpjack_colors .box1 {
    position: relative;
    margin-top: 15px;
    width: clamp(25px, 2vw, 30px);
    height: clamp(15px, 2vw, 20px);
    background: black;
}

.legend .pumpjack_colors .box2 {
    position: relative;
    margin-top: 15px;
    width: clamp(25px, 2vw, 30px);
    height: clamp(15px, 2vw, 20px);
    background: #f30e25;
}

.legend .pumpjack_colors .box3 {
    position: relative;
    margin-top: 15px;
    width: clamp(25px, 2vw, 30px);
    height: clamp(15px, 2vw, 20px);
    background: #834d1f;
}

.legend .pumpjack_colors .box4 {
    position: relative;
    margin-top: 15px;
    width: clamp(25px, 2vw, 30px);
    height: clamp(15px, 2vw, 20px);
    background: #b5b7b0;
}

.legend .income_legend .box1 {
    position: relative;
    margin-top: 15px;
    width: clamp(25px, 2vw, 30px);
    height: clamp(15px, 2vw, 20px);
    background: rgb(207, 68, 4);
}

.legend .income_legend .box2 {
    position: relative;
    margin-top: 15px;
    width: clamp(25px, 2vw, 30px);
    height: clamp(15px, 2vw, 20px);
    background: #f3750e;
}

.legend .income_legend .box3 {
    position: relative;
    margin-top: 15px;
    width: clamp(25px, 2vw, 30px);
    height: clamp(15px, 2vw, 20px);
    background: #e49e36;
}

.legend .income_legend .box4 {
    position: relative;
    margin-top: 15px;
    width: clamp(25px, 2vw, 30px);
    height: clamp(15px, 2vw, 20px);
    background: #ffda34;
}

.exp_btn {
    margin: 10px;
    font-family: Mizoimport;
    font-weight: 100;
}

.exp_text {
    margin-left:clamp(25px, 5vw, 200px);
    margin-right:clamp(25px, 5vw, 200px);
    margin-top:clamp(10px, 8vw, 100px);
}

.exp_redlining {
    z-index: 2;
    position: absolute;
    width: 40%;
    height: 100%;
    visibility: hidden;
    background: rgb(245, 245, 245);
    overflow: scroll;
}

.exp_map {
    z-index: 2;
    position: absolute;
    width: 40%;
    height: 100%;
    visibility: hidden;
    background: rgb(245, 245, 245);
    overflow: scroll;
}

.exit_panel {
    margin: 40px;
}

@media screen and (max-width:1000px) {
    .legend {
        position: absolute;
        width: 100%;
        height: 30%;
        opacity: 0%;
        padding: 0px 0px;
        background: rgb(245, 245, 245);
        bottom: 0px;
        overflow: scroll;
    }
    .legend .content-wrapper {
        margin: 30px;
        padding: 30px;
    }

    .exp_redlining {
        position: absolute;
        width: 100%;
        height: 60%;
        padding: 0px 0px;
        visibility: hidden;
        background: rgb(245, 245, 245);
        bottom: 0px;
        overflow: scroll;
    }
    .exp_map {
        position: absolute;
        width: 100%;
        height: 60%;
        padding: 0px 0px;
        visibility: hidden;
        background: rgb(245, 245, 245);
        bottom: 0px;
        overflow: scroll;
    }
    

}

@media screen and (max-width:800px) {
    .title-wrapper,
    .explainer-wrapper {
        width:100%;
    }
    .overlay .explainer-wrapper .text {
        margin-left: 0px;
        margin-right: 0px;
        margin-top:clamp(10px, 8vw, 50px);
    }

    .explore-button {
        position: absolute;
        text-align: center;
        margin-left:clamp(5px, 3vw, 400px);
        margin-right:clamp(5px, 3vw, 400px);
        margin-top:clamp(10px, 8vw, 50px);
    }

}
